<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spgold">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:orientation="vertical"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPgold">

        <activity
            android:name=".VerlistasActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CierreActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".VendedoresActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".IngresarnumActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AdministrarActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".VerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FacturaseditActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GuardandoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".HorariosagregarActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SelectconfigActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".BorrarActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditarActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AgregarActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TiquetemonazosActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TiqueteparleyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ReventadosActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ParleyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".WinnersActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RepventasActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ReportesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TiqueteActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".VentasActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>